In [329]:
import pandas as pd

In [330]:
teams = pd.read_excel("datasets/Teams.xlsx")
medals = pd.read_excel("datasets/Medals.xlsx")

c:\Users\LAB-MND\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [331]:
teams.head()

      Name      Discipline                         NOC  Event
0  Belgium  3x3 Basketball                     Belgium    Men
1    China  3x3 Basketball  People's Republic of China    Men
2    China  3x3 Basketball  People's Republic of China  Women
3   France  3x3 Basketball                      France  Women
4    Italy  3x3 Basketball                       Italy  Women

In [332]:
medals.head()

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

#### Cr√©ation de la table discipline

In [333]:
athletes = pd.read_excel("datasets/Athletes.xlsx")

In [334]:
disciplines = list(set(athletes.Discipline))
#disciplines.remove('Baseball/Softball')
len(disciplines)

46

In [335]:
#disciplines.extend(["Baseball", 'Softball'])
#len(set(disciplines))

In [336]:
disciplines_data = pd.DataFrame({'id_disc': [f"disc0{i}" for i in range(len(disciplines))],
        'Discipline': disciplines})
disciplines_data.head()

  id_disc     Discipline
0  disc00         Hockey
1  disc01  Skateboarding
2  disc02         Boxing
3  disc03        Archery
4  disc04        Sailing

In [337]:
merged_df = pd.merge(teams, disciplines_data, on='Discipline', how='left')

In [338]:
merged_df.head(20)

,Name,Discipline,NOC,Event,id_disc
0,Belgium,3x3 Basketball,Belgium,Men,disc024
1,China,3x3 Basketball,People's Republic of China,Men,disc024
2,China,3x3 Basketball,People's Republic of China,Women,disc024
3,France,3x3 Basketball,France,Women,disc024
4,Italy,3x3 Basketball,Italy,Women,disc024
5,Japan,3x3 Basketball,Japan,Men,disc024
6,Japan,3x3 Basketball,Japan,Women,disc024
7,Latvia,3x3 Basketball,Latvia,Men,disc024
8,Mongolia,3x3 Basketball,Mongolia,Women,disc024
9,Netherlands,3x3 Basketball,Netherlands,Men,disc024
10,Poland,3x3 Basketball,Poland,Men,disc024
11,ROC,3x3 Basketball,ROC,Men,disc024
12,ROC,3x3 Basketball,ROC,Women,disc024
13,Romania,3x3 Basketball,Romania,Women,disc024
14,Serbia,3x3 Basketball,Serbia,Men,disc024
15,United States,3x3 Basketball,United States of America,Women,disc024
16,Australia,Archery,Australia,Men's Team,disc03
17,Australia,Archery,Australia,Mixed Team,disc03
18,Bangladesh,Archery,Bangladesh,Mixed Team,disc03
19,Belarus,Archery,Belarus,Women's Team,disc03

In [339]:
merged_df.columns = ['country','discipline','committee','event','id_disc']
merged_df.columns

Index(['country', 'discipline', 'committee', 'event', 'id_disc'], dtype='object')

In [340]:
merged_df.drop('discipline', inplace=True, axis=1)
merged_df.head()

   country                   committee  event  id_disc
0  Belgium                     Belgium    Men  disc024
1    China  People's Republic of China    Men  disc024
2    China  People's Republic of China  Women  disc024
3   France                      France  Women  disc024
4    Italy                       Italy  Women  disc024

In [341]:
medals.columns = ['rank', 'committee', 'gold', 'silver', 'bronze', 'total','rank_by_total']
medals.columns

Index(['rank', 'committee', 'gold', 'silver', 'bronze', 'total',
       'rank_by_total'],
      dtype='object')

(743, 4)

In [343]:
disciplines_data.columns = ['id_disc', 'discipline_name']
disciplines_data.columns

Index(['id_disc', 'discipline_name'], dtype='object')

In [347]:
merged_df.to_csv("datasets" + '/' + "teams_toload.csv", index=False)

In [348]:
disciplines_data.to_csv("datasets" + '/' + "discipline_toload.csv", index=False)

In [350]:
medals.to_csv("datasets" + '/' + "medals_toload.csv", index=False)