In [1]:
import pandas as pd

In [2]:
teams = pd.read_excel("datasets/Teams.xlsx")
medals = pd.read_excel("datasets/Medals.xlsx")

C:\Users\LAB-MND\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
teams.head()

      Name      Discipline                         NOC  Event
0  Belgium  3x3 Basketball                     Belgium    Men
1    China  3x3 Basketball  People's Republic of China    Men
2    China  3x3 Basketball  People's Republic of China  Women
3   France  3x3 Basketball                      France  Women
4    Italy  3x3 Basketball                       Italy  Women

In [4]:
medals.head()

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

#### Cr√©ation de la table discipline

In [5]:
athletes = pd.read_excel("datasets/Athletes.xlsx")

In [ ]:
teams.columns = ['country','discipline','committee','event']
teams.columns

In [ ]:
medals.columns = ['rank', 'committee', 'gold', 'silver', 'bronze', 'total','rank_by_total']
medals.columns

In [ ]:
teams.to_csv("datasets" + '/' + "teams_toload.csv", index=False)

In [ ]:
medals.to_csv("datasets" + '/' + "medals_toload.csv", index=False)